<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @glo_collection.name %>
</p>

<%= link_to 'Edit', edit_glo_collection_path(@glo_collection) %> |
<%= link_to 'Back', glo_collections_path %>
